.container {
    height: 100%;
    max-width: 1700px;
}

.innerContainer {
    /* max-width: 700px; */
}

.articleContainer {
    padding: 32px 20px;
}

.introContainer {
    background: #102f58;
    padding: 0 20px 1px 20px;
}

.introFooter {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0 28px 0;
}

.imageCredit {
    background: #102f58;
    padding: 5px 15px 0 0;
    text-align: right;
}

.headInfo {
    padding-top: 20px;
}

.articleIntro {
    /* background: green; */
    color: white;
}

.icon {
    filter: invert(59%) sepia(34%) saturate(261%) hue-rotate(1deg) brightness(100%) contrast(89%);
}

.tag {
    margin-bottom: 8px;
}

.articleTitle {
    margin-bottom: 12px;
}

/* .imageContainer {
    width: 100%;
} */

 /* does this have any affect? */
/* .imageContainer.div {
    position: unset !important;
} */

.image {
    display: block;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

/* Mobile */
@media (min-width: 860px) {
    .container {
        display: flex;
    }

    .imageContainer {
        width: 300px;
        height: 300px;
    }
}