.container {
    height: 100%;
    max-width: 1700px;
}

.articleContainer {
    padding: 32px 20px;
}

.introContainer {
    background: #102f58;
    /* background: green; */
    padding: 0 20px 1px 20px;
    /* margin: -4px;
    height:  */
}

.introFooter {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0 28px 0;
}

.imageCredit {
    text-align: end;
    padding-top: 5px;
    padding-right: 5px;
}

.headInfo {
    margin-top: 20px;
}

.articleIntro {
    /* background: green; */
    color: white;
}

.icon {
    filter: invert(59%) sepia(34%) saturate(261%) hue-rotate(1deg) brightness(100%) contrast(89%);
}

.tag {
    margin-bottom: 8px;
}

.articleTitle {
    margin-bottom: 12px;
}

.imageContainer {
    width: 100%;
}

/* .imageContainer.div {
    position: unset !important;
} */

.image {
    display: block;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}